body {
    background: url(background.png)no-repeat;
}
header {
    display: block;
    text-align: center;
    padding-top: 2%;
    text-transform: uppercase;
    font-family: "Trebuchet MS";
    font-size: 40px;
    color: #3170a8;
}
header span {
    color: #ee8129;
}
.main {
    display: block;
    text-align: center;
    padding-top: 3%;
}
.user_photo{
    display: inline-block;
    position: relative;
    left: 1%;
    margin-left: 20px;
    vertical-align: middle;
}

.feedback_field{
    display: inline-block;
    width: 364px;
    height: 98px;
    background: white;
    margin: 0 50px;
    position: relative;
    vertical-align: middle;
}
.feedback_field::before {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 20px solid white;
    border-bottom: 15px solid transparent;
    top: 50%;
    margin-top: -15px;
    left: -20px;
    content: "";
}
.feedback_title{
    font-family: "Trebuchet MS";
    font-style: italic;
    font-size: 13px;
    color: #3070a8;
    margin: 10px;
}
.user_name {
    float: left;
}
.user_role {
    float: right;
}
.clear {
    clear: both;
}
.user_answer {
    text-align: left;
    margin: 10px;
    border-top: 1px dashed #666666;
    padding: 10px;
    font-family: "Trebuchet MS";
    font-size: 13px;
    color: #666666;
    font-family: "Trebuchet MS";
    font-style: italic;
}


