body {padding: 10px;}
div{
    background: mediumpurple;
    display: table;
    padding: 10px;
    margin: 30px auto;
    width: 900px;
}
span {
    font-family: Impact;
    font-weight: normal;
    color: white;
    margin: 0px 7px;
    padding: 0px 7px;
    font-size: 20px;
    cursor: pointer;
}
span:hover {
    color: darkgray;
    background: whitesmoke;
    padding: 11px 7px;
}
