body {
    padding: 0;
    margin: 0;
}
.offers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.second_offer, .first_offer, .third_offer {
    display: inline-block;
    width: 294px;
    height: 433px;
    border: 1px solid inherit;
    border-radius: 1%;
    margin: 0 -2px;
}
.first_offer:hover, .second_offer:hover, .third_offer:hover {
    height: 434px;
    transition: 0.8s;
    transform: scale(1.1);
    z-index: 10;
    position: relative;
}
.first_offer {
    background: #37c2d3;
}
.second_offer{
    background: #ee8129;
}
.third_offer{
    background: #1cb79a;
}
.headline {
    position: relative;
    top: 15px;
    left: 85px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: "Trebuchet MS";
    margin: 0 auto;
    text-transform: capitalize;
}
.white{
    width: 292px;
    height: 379px;
    background: white;
    margin: 25px auto;
}
.iconic_graphics {
    position: relative;
    top: -390px;
    left: 60px;
    color: #3f4042;
    font-size: 24px;
    font-family: "Trebuchet MS";
}
.dollars{
    position: relative;
    top: -380px;
    left: 80px;
    color: #3a3a3a;
    font-size: 18px;
    font-family: "Trebuchet MS";
    margin: auto;
}
.price{
    position: relative;
    top: -400px;
    left: 90px;
    color: #3a3a3a;
    font-size: 18px;
    font-family: "Trebuchet MS";
    margin: auto;
}
b {
    font-size: 72px;
}
.button{
    text-decoration: none;
    position: relative;
    top: -215px;
    left: 25px;
    color: white;
    background: #ee8129;
    padding: 10px 70px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Trebuchet MS";
    border-radius: 3%;
    box-shadow: 0px 5px 1px -1px #b3560b;
    margin: auto;
}
.button.blue {
    background: #3371a6;
    box-shadow: 0px 5px 1px -1px #16436a;
}
.group_list {
    position: relative;
    left: 20px;
    top: -410px;
}
.group_list div {
    font-family: "Trebuchet MS";
    font-size: 15px;
    color: #888c94;
    background: #edf5fd url(Checker.png)no-repeat 30px center;
    width: 257px;
    padding: 10px 0;
    margin-bottom: 2px;
}
.group_list div:nth-child(2n) {
    background: #f5f5f6 url(Checker.png)no-repeat 30px center;
}
span {
    display: inline-block;
    margin-left: 60px;
}
.button:hover {
    background: rgba(255, 149, 83, 0.63)
}
.button.blue:hover {
    background: #77addb;
}

