body{
    padding: 0;
    margin: 0;
}
nav {
    background: #2ac4db;
    position: relative;
}
.main_menu {
    display: block;
    width: 900px;
    margin: 0 auto;
    text-align: center;
    background: #2ac4db;
}

.main_menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
}
.main_menu li a:hover {
    color: darkgray; /* не срабатывает */
    background: #F5F5F5;
}
.main_menu li a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    font-family: impact;
    color: white;
}
.sub_menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: none;
}
.sub_menu li a {
    font-family: Arial;
}
.main_menu li:hover > .sub_menu {
    display: block;
    color: #5e5e5e;
    background: #a8a8a8;
}