.orange {
    position: relative;
    z-index: 1;
    width: 294px;
    height: 465px;
    background: #ee8129;
    margin: auto;
    border-radius: 1%;
}
.best_value {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 85px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    font-family: "Trebuchet MS";
    margin: auto;
}
.white{
    position: absolute;
    z-index: 3;
    width: 288px;
    height: 387px;
    background: white;
    margin: 75px 3px;
}
.iconic_graphics {
    position: absolute;
    z-index: 4;
    top: 90px;
    left: 60px;
    color: #3f4042;
    font-size: 24px;
    font-family: "Trebuchet MS";
    margin: auto;
}
.dollars{
    position: absolute;
    z-index: 4;
    top: 140px;
    left: 80px;
    color: #3a3a3a;
    font-size: 18px;
    font-family: "Trebuchet MS";
    margin: auto;
}
.price{
    position: absolute;
    z-index: 5;
    top: 135px;
    left: 90px;
    color: #3a3a3a;
    font-size: 18px;
    font-family: "Trebuchet MS";
    margin: auto;
}
b {
    font-size: 72px;
}
.enroll_today{
    text-decoration: none;
    position: absolute;
    z-index: 5;
    top: 400px;
    left: 25px;
    color: white;
    background: #ee8129;
    padding: 10px 70px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Trebuchet MS";
    border-radius: 3%;
    box-shadow: 0px 6px 1px -1px #b3560b;
    margin: auto;
}
.group_list {
    z-index: 6;
    position: absolute;
    left: 20px;
    top: 230px;
}
.group_list div {
    font-family: "Trebuchet MS";
    font-size: 15px;
    color: #888c94;
    background: #edf5fd url(Checker.png)no-repeat 30px center;
    width: 257px;
    padding: 10px 0;
    margin-bottom: 2px;
}
.group_list div:nth-child(2n) {
    background: #f5f5f6 url(Checker.png)no-repeat 30px center;
}
span {
    display: inline-block;
    margin-left: 60px;
}
.enroll_today:hover {
    background: rgba(255, 149, 83, 0.63)
}